.first-page {
  background: radial-gradient(#e4e4e4, #252525);
  width: 100%;
  padding: 0 7%;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.first-main {
  display: flex;
  gap: 10%;
}

.half {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.first-img {
  width: 100%;
  border-radius: 10px 60px 30px;
}

.title {
  font-size: 5vw;
}

.product-description {
  font-size: 1.3vw;
}

.buy-button {
  display: inline-block;
  padding: 10px 30px;
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f0f0f0;
  background-color: #252525;
}

.buy-button:hover {
  background-color: #14141462;
}

.second-page {
  background: linear-gradient(#454545, #e4e4e4);
  width: 100%;
  padding: 7%;
  display: flex;
  flex-direction: column;
  gap: 20vw;
  box-shadow: rgba(20, 20, 20, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.collection-sub {
  text-align: center;
  font-size: 2vw;
}

.collection-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8vw;
}

.collection-card-box {
  display: flex;
  gap: 5%;
}

.collection-card {
  border-radius: 10%;
  width: 25vw;
  height: 33vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.collection-img-box {
  width: 100%;
  height: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10%;
}

.best-since {
  display: flex;
  gap: 10%;
}

.since-img {
  border-radius: 10px 60px 30px;
}

.since-sub {
  font-size: 2vw;
  text-align: center;
}

.third-page {
  padding: 7%;
  width: 100%;
  background-color: #e4e4e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6vw;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header > ul {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  gap: 5vw;
}

header > ul > li:hover {
  background-color: #94939398;
  padding: 10 2px;
}

@media (max-width: 950px) {
  .first-page {
    padding: 0;
    gap: 10px;
  }

  .first-img {
    display: none;
  }

  .first-main {
    height: 600px;
    background-image: url("../img/background/MainPicture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    flex-direction: column-reverse;
    padding-bottom: 15px;
    padding-left: 10px;
  }

  .product-title {
    width: 50%;
    color: #f0f0f0;
  }

  .product-description {
    width: 60%;
    font-size: 2vw;
    color: #f0f0f0;
  }

  .collection-page {
    gap: 70px;
  }

  .collection-sub {
    font-size: 3vw;
  }

  .collection-card-box {
    flex-direction: column;
    gap: 100px;
  }

  .best-since {
    flex-direction: column;
  }

  .half > img {
    width: 60%;
  }

  .collection-card {
    width: 60vw;
    height: 85vw;
  }

  .best-since > .half {
    align-items: center;
  }

  .since-sub {
    font-size: larger;
  }
}

@media (max-width: 600px) {
  .product-description {
    font-size: 3vw;
    color: #f0f0f0;
  }

  .collection-sub {
    font-size: 4vw;
  }

  .since-sub {
    font-size: larger;
  }
}

@media (max-height: 650px) {
  .first-main {
    position: relative;
  }

  .first-half {
    position: absolute;
    bottom: 50px;
    left: 20px;
  }
}
