.glass-card {
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}

.playfair-display-sc-bold {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-style: normal;
}
.playfair-display-sc-regular {
  font-family: "Playfair Display SC", serif;
  font-weight: 400;
  font-style: normal;
}

button {
  border: 0px;
}

* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
}

a {text-decoration: none;}

.container {
  width: 100vw;
  height: 100vh;
  background-image: url("img/login-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.login-picture-box {
  display: flex;
  border-radius: 100px;
  width: 60%;
  height: 90%;
  gap: 10px;
  padding: 40px;
  box-shadow: 
    rgba(0, 0, 0, 0.3) 0px 19px 38px, 
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background: rgba(255, 255, 255, 0.149);
  transition: 0.3s;
}


.right-picture {
  backdrop-filter: blur(20px);
  flex: 1;
  border-radius: 100px;
  box-shadow: 
    rgba(0, 0, 0, 0.3) 0px 19px 38px, 
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  /* background-image: url("img/login-right-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.login-sub {
  border-radius: 100px;
  font-size: 40px;
  color: #3d3d3d;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  transition: 0.3s;
  flex: 1;
  display: flex;
  flex-direction: column;
  border-radius: 100px;
  gap: 4%;
  padding: 30px;

  box-shadow: 
    rgba(0, 0, 0, 0.3) 0px 19px 38px, 
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.title {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  color: #d6d6d6;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 40%;

  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 0px 0px rgba(255, 255, 255, 0);

  background-color: #25252570;
}

form {
  display: flex;
  flex-direction: column;
  gap:3%;
}

.label-id {
  padding-left: 10px;
  font-weight: 500;
  color: #f8f8f8;
}

.input-design {
  width: 100%;
  height: 20%;
  padding: 20px;
  background: rgba(255, 255, 255, 0.248);
  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.1),
    inset 0 1px 0 rgba(255, 255, 255, 0.5),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 10px 5px rgba(255, 255, 255, 0.5);
  
  border-radius: 20px;
  margin-bottom: 5px;
  outline: none;
}

.btn {
  color: #e8e8e8;
  font-size: 20px;
  width: 100%;
  height: 50px;
  background: rgba(3, 3, 3, 0.24);
  box-shadow: 
    0 8px 32px rgba(3, 3, 3, 0.1),
    inset 0 -1px 0 rgba(255, 255, 255, 0.1),
    inset 0 0 10px 5px rgba(114, 114, 114, 0.5);
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
}

.btn:hover {
  background: rgba(170, 170, 170, 0.24);
  padding: 30px;
  transition: 0.3s;
}

@media (max-width:1060px) {
  .login-picture-box {
    width: 70%;
  }
}

@media (max-width:850px) {
  .right-picture {
    display: none;
  }

  .login-picture-box{
    justify-content: center;
    align-items: center;
    box-shadow: none;
    padding: 0px;
  }

  .login-box {
    flex: none;
    width: 99%;
    height: 99%;
  }
}